<!DOCTYPE html> 
<html lang="en"> 
<head> 
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Add products</title> 
</head> 
<body>
	<header>
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  		<span class="navbar-brand mb-0 h1">SHOPPERS ZONE</span>
  		<ul class="nav navbar-nav justify-content-end">
 
      		<form action="/logout?_method=DELETE" method="POST">
  				<button type="submit">Log Out</button>
			</form>
			<a href="/sellerhome">Home</a>
      	</ul>
  		
		</nav>
	</header>
	


	<div>
    <h1>Add your products</h1>
  </div>
	
	<div>
		
		<form action="/sellerhome" method="POST">
			   <label for="itemname">Item name:</label>
  			<input type="text" id="itemname" name="itemname" required><br>
  			<label for="price">Price:</label>
  			<input type="text" id="price" name="price" required><br>
  			<label for="quantity">Quantity:</label>
  			<input type="text" id="quantity" name="quantity" required><br>
  			<label for="description">Description:</label>
  			<input type="text" id="description" name="description" required><br>
  			<label>Image URL
  				<input name="image" type="text" required>
  			</label><br>
  			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
	<div>
		
	</div>

	

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>